target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
README.md
/src/main/java/com/codecool/shop/user/Cart.java
/src/test/java/com/codecool/shop/user/CartTest.java
/src/main/java/com/codecool/shop/user/Customer.java
/src/test/java/com/codecool/shop/user/CustomerTest.java
/src/test/java/com/codecool/shop/dao/implementation/ProductCategoryDaoMemTest.java
/.idea
